<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Souma - A Flask App</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" crossorigin="anonymous">
  </head>

  <body class="text-center">
    {% block content %}
    <h1>Submit your News URL</h1>
    <form method="post" class="form">
        {{ form.csrf_token }}
        {{ form.url }}
        {% for msg in form.url.errors %}
            <span class="help is-danger">{{ msg }}</span>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
    {% endblock %}
  </body>
</html>
